.container{
    display: flex;
    flex-direction: row;
}
.navigation{
    display: block;
    height: 100%;
    width: 15%;
    margin: 20px;
    padding: 10px;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 10px;
}

a{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 25px;
}

.content{
    display: block;
    height: 100%;
    width: 85%;
    border: 1px solid red;
    margin: 20px;
    padding: 10px;
}