html{
    height: 100%;
    margin: 0;
}

body{
    height: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.navigation{
    display: block;
    height: 100%;
    width: 10%;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: thin;
    max-height: 100%;
    margin-left: 5%;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 50px; 
    margin-top: 20px;
    margin-bottom: 40px;
}

h3{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}

a{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 30px;
}

.content{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    text-align: justify;
}

table{
    width: 80%;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

.nom{
    width: 20%;
}

.description{
    width: 40%;
}

.valeurs{
    width: 40%;
}

th, td {
   padding: 10px;
   border: 1px solid black;
    }


.titre{
    background-color:antiquewhite;
}


.contenu{
    display: flex;
    flex-direction: row; 
    width: 100%;
    
}


.rendu{
    display: block;
    padding: 20px;
    border: 1px solid;
    width: 50%;
    margin-right: 20px;
}

.code{
    border: 1px solid;
    padding:20px;
    background-color: black;
    color: white;
    width: 50%;
    margin-right: 20px;
    
}


.blue{
    color: rgb(0, 191, 255);
}

.light{
    color: lightblue;
}

.orange{
    color: rgb(237, 121, 79);
}

.italic{
    color: rgb(237, 121, 79);
    font-style: italic;
}


    