.container{
    display: flex;
    flex-direction: row;
}
.navigation{
    display: block;
    height: 100%;
    width: 15%;
    margin: 20px;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 10px;
}

a{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 25px;
}

.content{
    display: block;
    height: 100%;
    width: 80%;
    margin: 30px;
    padding: 20px;
    text-align: justify;
}

table, th, td {

    border: 2px solid skyblue;
      border-collapse: collapse;
    
    }
    caption, th, td {
    
    padding: 8px;
    
    }
    