.container{
    display: flex;
    flex-direction: row;
}
.navigation{
    display: block;
    height: 100%;
    width: 15%;
    margin: 20px;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 10px;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 10px; 
}

h3{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 10px;
}

a{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 25px;
}

.content{
    display: block;
    height: 100%;
    width: 80%;
    margin: 30px;
    padding: 20px;
    text-align: justify;
}

table{
    width: 80%;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

.nom{
    width: 20%;
}

.description{
    width: 40%;
}

.valeurs{
    width: 40%;
}

th, td {
   padding: 10px;
   border: 1px solid black;
    }


.titre{
    background-color:antiquewhite;
}


.contenu{
    display: flex;
    flex-direction: row; 
    width: 100%;
}


.rendu{
    display: block;
    padding: 20px;
    border: 1px solid;
    width: 50%;
    margin-right: 20px;
}

.code{
    border: 1px solid;
    padding:20px;
    background-color: black;
    color: white;
    width: 50%;
}


    